<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.sprinklerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/splashh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/splashh"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Home" />
        <activity android:name=".About" />
        <activity android:name=".Data" />
        <activity android:name=".Pengaturan" />
        <activity android:name=".Panduan" />
        <activity android:name=".InfoTanaman" />
        <activity android:name=".InfoMawar" />
        <activity android:name=".InfoCabai" />
        <activity android:name=".InfoTomat" />
        <activity android:name=".InfoAnggrek" />
        <activity android:name=".InfoMelati" />
        <activity android:name=".InfoKaktus" />
        <activity android:name=".InfoMatahari"></activity>
    </application>

</manifest>